@font-face {
  font-family: 'GillSansLight';
  src: url(asset-path('GillSans-Light.ttf')) format("truetype");
  font-weight: normal;
}

// Chosen for Accessibility
$font-family: "Noto Sans", sans-serif;
